.btn{
    border-radius: 14px;
    padding: 20px 35px;
    font-size: 20px;
   

    @media all and (max-width: $media-m){
            display: none;
    }

    &_outline {
        background-color: transparent;
        border-color: 1px solid black;
    }

    &_header{
        margin-left: 40px;
    }
}
