@font-face {
    font-family: "Space Grote";
    src: url("/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Space Grote";
    src: url("/assets/fonts/SpaceGrotesk-Medium.ttf");
    font-weight: 500;
}